.header {
    min-height: 100px; /* Aumentar la altura del header */
    width: 100%;
    background-color: #1d6363; 
    color: white; 
    padding: 1rem 0; 
    /*max-width: 1200px;*/
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
  
/*
.container {
    height: 100px;
    width: 100%;
    /*max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}*/
  
.logo-text {
    font-family: 'KyivType Sans', sans-serif; 
    font-size: 1.25rem; 
    font-weight: bold; 
    color: #1d6363;
    margin-left: 0.5rem; 
}
  
  
.nav {
    display: flex;
    align-items: center;
    background-color: rgba(215, 214, 214, 0.57); 
    border-radius: 2rem; 
    padding: 0.5rem 1rem; 
}
   

.nav-link {
    color: white; 
    text-decoration: none; 
    margin: 0 0.5rem; 
    font-weight: 500; 
    padding: 0.5rem 1rem; 
    border-radius: 2rem; 
}

.nav-link.active {
    background-color: #1d6363; 
    color: white; 
}

.nav-link:hover {
    background-color: white; 
    color: #1d6363; /* Color del texto al hacer hover */
}


.search-section {
    display: flex;
    align-items: center;
    background-color: #1d6363; 
    border: 2px solid white; /* Borde blanco */
    border-radius: 2rem;
    padding: 0.5rem 1rem; 
}


.search-icon {
    height: 1.25rem; 
    width: 1.25rem;
    margin-right: 0.5rem; 
}


.search-input {
    border: none; 
    outline: none; 
    background: transparent; 
    color: white; 
    font-size: 1rem; 
}

.search-input::placeholder {
    color: white; 
}


.login-button {
    background-color: white; 
    color: #1d6363; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 2rem; 
    cursor: pointer; 
    font-weight: 500; 
}

.login-button:hover {
    background-color: #f0f0f0; 
}

